.serie{
    margin: auto;
    width: 100%;
    border: 1px solid rgb(8, 8, 8);
    padding: 40px;
    text-align: center;
    font: 400px Verdana;
    color: rgb(179, 36, 32);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.resultat{
    margin: auto;
    width: 100%;
    border: 1px solid rgb(8, 8, 8);
    padding: 40px;
    text-align: center;
    font: 400px Verdana;
    color: rgb(32, 179, 44);
}

.anime {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes example {
    50%   {color:red; left:0px; top:0px;}
    50%  {color:rgb(255, 123, 0); left:0px; top:0px;}
  }